apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: fluxcd/notification-controller
    newName: fluxcd/notification-controller
    newTag: v0.23.1
